body {
    background-color: royalblue;
}

h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.flex-testing{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px 20px;
} 
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}
footer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:gray;
}
a:link{
    color: white;
}
a:visited{
    color: purple;
}